.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}