.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../../images/players-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 100px 10px 10px 10px;
}
